@model LoginBindingModel
<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <h2>Login</h2>
        <p>admin // admin1</p>
        @using (Ajax.BeginForm(new AjaxOptions
        {
            Url = "/Token",
            OnComplete = "onToken"
        }))
        {
            @Html.Hidden("grant_type", "password");
            @Html.EditorForModel();
            <br />
            <input class="btn btn-primary" type="submit" value="Login" />
        }
        <br />
        @Ajax.ActionLink("Register", "Register", htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>
