@model LoginBindingModel

<h2>Login</h2>
@using (Ajax.BeginForm(new AjaxOptions {
    Url = "/Token",
    OnComplete = "onToken"
}))
{
    @Html.Hidden("grant_type", "password");
    @Html.EditorForModel();
    <input class="btn btn-primary" type="submit" value="Login" />
}
@Ajax.ActionLink("Register", "Register", htmlAttributes: new { @class = "btn btn-default" })
