@model RegisterBindingModel

<h2>Register</h2>
@using (Ajax.BeginApiForm("Register", "onRegister"))
{
    @Html.AntiForgeryToken();
    @Html.EditorForModel();
    @Html.Hidden("returnUrl", (string)ViewBag.RedirectUrl);
    <input type="submit" value="Register" />
}
@Ajax.ActionLink("Login", "Login")
