@model RegisterBindingModel

<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <h2>Register</h2>
        @using (Ajax.BeginApiForm("Register", "onRegister"))
        {
            @Html.AntiForgeryToken();
            @Html.EditorForModel();
            @Html.Hidden("returnUrl", (string)ViewBag.RedirectUrl);
            <br />
            <input class="btn btn-primary" type="submit" value="Register" />
        }
        <br />
        @Ajax.ActionLink("Login", "Login", htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>
