@model GladiatorColumnViewModel

@Html.Partial("_GladiatorDisplay", new GladiatorDisplayViewModel { Gladiator = Model.Gladiator, ShowHPBar = true, ShowExpBar = true, ShowLevel = true })
<div>
    <p>Stats</p>
    <p>Wins: @Model.Gladiator.Wins</p>
    <p>Losses: @Model.Gladiator.Losses</p>
</div>
@Ajax.ActionLink("Edit", "Edit", "Gladiators",
                    updateId: Model.ColumnId, htmlAttributes: new { @class = "btn btn-primary" },
                    routeValues: new { id = Model.Gladiator.Id })
