@model GladiatorBindingModel

@using (Ajax.BeginForm("PostCreate", "Gladiators", onComplete: "onCreate"))
{
    @Html.AntiForgeryToken();
<div class="gladiator-col">
    <div>
        <label>Name</label>
        @Html.EditorFor(m => Model.Name)
    </div>
    @if (User.IsInRole("Admin"))
    {
    <div>
        @Html.EditorFor(m => Model.IsNPC)
        <label>Create as Opponent</label>
    </div>
    }
    <div>
        <input type="submit" value="Create" />
    </div>
</div>
}

